{% extends 'base.html' %}

{% load static %}

{% block content %}

        <h1 class="text-center">Test Standard {{ test_standard.standard_name }}<br/></h1>
        <hr>        
    

    <div class="card col-md-6 offset-md-3" style="width: 30rem;">
      <div class="card-body">
          <h5 class="card-title text-center">{{ test_standard.standard_name.standard_name  }}</h5>
          <p class="card-text">
              Description: {{ test_standard.description }}<br/>
              Published Date: {{ test_standard.published_date }}<br/>
          </p>
          <br/>
          {% if user.is_staff %}
            <a class="btn btn-info" href="{% url 'update-test-standard' test_standard.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'delete-test-standard' test_standard.id %}">Delete</a>
            <a class="btn btn-primary" href="http://127.0.0.1:8000/teststandards_api/">API</a>
          {% else %}
          {% endif %}
        </div>
      </div>
      <br/><br/><br/>
      <a href="{% url 'list-test-standards' %}" class="btn btn-secondary">Return To List</a>
      <br/>

{% endblock %}